.dropdown {
  display: flex;
  flex-direction: column;
}

.dropdown label {
  font-weight: 600;
  font-size: 18px;
  font-family: 'Montserrat';
}

.dropdown select {
  height: 80px;
  width: 100%;
  outline: none;
  border: none;
  padding: 12px 20px;
  margin: 10px 0 20px 0;
  box-sizing: border-box;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.08);
  color: #A4A4A4;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat';
}
