.team {
  font-family: 'Prata';
  text-align: center;
  padding-bottom: 32px;
}

.team h3 {
  font-weight: 500;
  font-size: 32px;
  border-bottom: 4px solid;
  display: inline-block;
}

.team .persons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}