.card {
  width: 280px;
  font-family: 'Montserrat';
  margin-top: 32px;
}

.card img {
  width: 100px;
  border-radius: 50%;
  position: relative;
  bottom: -50px;
}

.card .card__top {
  background-color:  #F0F0F0;
  border-radius: 10px 10px 0px 0px;
}

.card .card__bottom {
  background: #FFFFFF;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 10px 10px;
  padding-top: 90px;
  padding-bottom: 40px;
}

.card .card__bottom h4 {
  color: #6278F7;
  font-size: 18px;
  font-weight: bold;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.card .card__bottom h5 {
  font-size: 18px;
  line-height: 20px;
  color: #212121;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}