.createCardButton {
  padding: 32px;
  margin-bottom: 32px;
  outline: none;
  border: none;
  border-radius: 10px;
  background: #6278F7;
  color: white;
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.createCardButton:hover {
  color: #cde3ff;
}